.forg {
    margin-top: 10px;
    text-align: left;
}

.bordered {
    background-color: #fff;
    margin-top: 130px;
    padding: 30px;
    border-radius: 2%;
    box-shadow: 0px 0px 6px darkgray;
}

img.fitimg {
    object-fit: cover;
}

